@font-face {
   font-family: 'Aktiv Grotesk Corp';
   src: url('/css/fonts/AktivGroteskCorp-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}

body {
   background-color: #141416;
   color: #FFFFFF;
   font-family: 'Aktiv Grotesk Corp', sans-serif;
   font-weight: 300;
}